In [7]:
import pandas as pd, openpyxl, openpyxl.workbook, os, csv 
from openpyxl.utils.dataframe import dataframe_to_rows

os.chdir('C:/Users/nkumar25/Documents/Beauty Jewelry wave 1')

import pandas as pd
import numpy as np
file_name = 'A.csv'
y_df = pd.read_csv(file_name, encoding= 'ISO-8859-1')
df_c= pd.DataFrame(columns=['Oracle Item Number','Attribute Code','Attr Value Code','Secondary Value','Action'])
#my_df = my_df.drop_duplicates()

product_type_list = y_df['new RMS - PRODUCT_TYPE'].unique().tolist()
spt_list=y_df['new RMS - SUB_PRODUCT_TYPE'].unique().tolist()
item_type_list=y_df['new RMS - ITEM_TYPE'].unique().tolist()
c_columns = ['ITEM', 'ATTR_CODE','ATTR_VALUE_CODE','ATTR_VALUE_SECONDARY']


for k in range(len(item_type_list)):
         
         print_df = y_df[y_df['new RMS - ITEM_TYPE']==item_type_list[k]]
         try:
          #df_c[['Oracle Item Number','Attribute Code','Attr Value Code','Secondary Value','Action']] = my_df[['Oracle Item Number', 'Attribute Code','Attr Value Code','Secondary Value','Action']]
          print_df.to_csv('C:/Users/nkumar25/Documents/Beauty jewelry wave 1/SplitO/'+str(item_type_list[k])+'.csv', index=False)
         except OSError:
           print('/ appears with '+str(item_type_list[k]))
           rep = item_type_list[k]
           item_type_list[k] = rep.replace("/","-")
           print_df.to_csv('C:/Users/nkumar25/Documents/Beauty jewelry wave 1/SplitO/'+str(item_type_list[k])+'.csv', index=False)

In [8]:
import pandas as pd, openpyxl, openpyxl.workbook, os, csv 
from openpyxl.utils.dataframe import dataframe_to_rows
os.chdir('C:/Users/nkumar25/Documents/Beauty jewelry wave 1/SplitO/')

df_ck = pd.read_csv("C:/Users/nkumar25/Documents/Beauty jewelry wave 1/SplitO/"+item_type_list[0]+".csv")
prod = df_ck.iloc[1,5]
sub = df_ck.iloc[1,6]
item = df_ck.iloc[1,7]


print('File Name ='+file_name+". Prod = "+prod+ ". SPT = "+sub+". Item name = "+item)
df_ck.info()
df_ck.head()

File Name =A.csv. Prod = PENDANTS & CHARMS. SPT = PENDANTS & CHARMS. Item name = PENDANTS
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7907 entries, 0 to 7906
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Oracle Item Number          7907 non-null   int64
 1   Attribute Code              7907 non-null   object
 2   Attr Value Code             7907 non-null   object
 3   Secondary Value             604 non-null    object
 4   Action                      7907 non-null   object
 5   new RMS - PRODUCT_TYPE      7907 non-null   object
 6   new RMS - SUB_PRODUCT_TYPE  7907 non-null   object
 7   new RMS - ITEM_TYPE         7907 non-null   object
dtypes: int64(1), object(7)
memory usage: 494.3+ KB

,Oracle Item Number,Attribute Code,Attr Value Code,Secondary Value,Action,new RMS - PRODUCT_TYPE,new RMS - SUB_PRODUCT_TYPE,new RMS - ITEM_TYPE
0,129765588,METAL,14K_ROSE_GLD_OVR_SVR,NaN,INSERT,PENDANTS & CHARMS,PENDANTS & CHARMS,PENDANTS
1,129765588,METAL,14K_ROSE_GOLD,NaN,INSERT,PENDANTS & CHARMS,PENDANTS & CHARMS,PENDANTS
2,129765588,METAL_COLOR,TWO_TONE,NaN,INSERT,PENDANTS & CHARMS,PENDANTS & CHARMS,PENDANTS
3,129765588,METAL_KARAT,NOT_APPLICABLE,NaN,INSERT,PENDANTS & CHARMS,PENDANTS & CHARMS,PENDANTS
4,129765588,METAL_TYPE,GOLD_OVER_SILVER,NaN,INSERT,PENDANTS & CHARMS,PENDANTS & CHARMS,PENDANTS

In [9]:
os.chdir('C:/Users/nkumar25/Documents/Beauty Jewelry wave 1/Necklace')

for i in range(len(item_type_list)):
    try :
        file_name = item_type_list[i]
        my_df = pd.read_csv(f"C:/Users/nkumar25/Documents/Beauty jewelry wave 1/SplitO/{file_name}.csv", encoding= 'ISO-8859-1')
    except IndexError:
        print("The List has ended")
    my_df = my_df.drop_duplicates()
    cv_pType = my_df.columns.get_loc('new RMS - PRODUCT_TYPE')
    cv_sType = my_df.columns.get_loc('new RMS - SUB_PRODUCT_TYPE')
    cv_iType = my_df.columns.get_loc('new RMS - ITEM_TYPE')
    try :
        desc_name = my_df.iat[0,cv_iType]
        prod_name = my_df.iat[0,cv_pType]
        sub_name = my_df.iat[0,cv_sType]
        item_name = my_df.iat[0,cv_iType]
    except IndexError:
        print('done')
        break
    
    my_df = my_df.drop(['new RMS - PRODUCT_TYPE','new RMS - SUB_PRODUCT_TYPE','new RMS - ITEM_TYPE'],axis=1)

    
    # Getting disctinct Orins
   

    distinct_orins = my_df.drop_duplicates(subset=['Oracle Item Number'])['Oracle Item Number']
    distinct_orins = distinct_orins.tolist()
    initial = len(distinct_orins)

    # Getting the rows of each orin in the file
    tot = 0; res_df = pd.DataFrame(); completed = []; to_be_added = []; file_num = 0; i=0

    #While loop Start
    while True:
    #Checking if length of Distinct Orins is 0 and popping each element is its > 0
        if len(distinct_orins) != 0:
            orin = distinct_orins.pop()
    
    #Getting number of rows for each Orin Item for further processing
    #print(len(distinct_orins))
        no_of_rows = my_df.query("`Oracle Item Number` == "+str(orin)).shape[0]
        tot += no_of_rows
    
    #Adding data to the res_df dataframe if the total rows for the above step is less than 3000 rows
        if tot <= 3000:
            #print(len(res_df))
            #print(len(distinct_orins))
            if orin not in completed:
                completed.append(orin)
                res_df = res_df._append(my_df.query("`Oracle Item Number` == "+str(orin)))
                #distinct_orins.pop(i)
                #print("aa => "+str(tot))

    #Creating excel workbook if the number of rows exceeds 3000 lines
        elif tot > 3000 or initial == len(completed) - 1:
            #print("bb => "+str(tot))

            #appending the orin number back to the distinct_orins list
            distinct_orins.append(orin)
            #print("distinct orin len: "+str(len(distinct_orins)))
            #print(len(completed))
            typ = "Product Hierarchy And Attributes"
            effective_date = "03/24/2025"
            Product_Type = prod_name
            Sub_Product_Type =sub_name
            Item_Type = item_name
            description = str(file_name)+"_"+"Others"
            print(item_name)
        
            rows = dataframe_to_rows(res_df, index=False)
            book = openpyxl.Workbook()
            book.save(description+"_"+str(file_num)+".xlsx")
            book.close()
            page = book.active
            page["C3"] = "Type:"
            page["D3"] = typ
            page["F3"] = "Effective Date:"
            page["G3"] = effective_date
            page["C5"] = "Description:"
            page["D5"] = description
            page["F5"] = "Product Type:"
            page["G5"] = Product_Type
            page["H5"] = "Sub Product Type:"
            page["I5"] = Sub_Product_Type
            page["J5"] = "Item Type:"
            page["K5"] = Item_Type

       
            for r_idx, row in enumerate(rows, 7):
                for c_idx, value in enumerate(row, 1):
                    page.cell(row=r_idx, column=c_idx, value=value)
            book.save(description+"_"+str(file_num)+".xlsx")
            pd.read_excel(description+"_"+str(file_num)+".xlsx").to_csv(description+"_"+str(file_num)+".csv", index=False, header=None)
            os.remove(description+"_"+str(file_num)+".xlsx")
            tot = 0
            res_df.drop(res_df.index, inplace=True)
            file_num = file_num+1
            if initial == len(completed):
                break

PENDANTS
PENDANTS
PENDANTS